.SearchForm {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
}

.SearchButton{
  margin-left: 4px;
  color:white;
  background-color: rgb(76, 172, 76);
  border-collapse: 0.5px;
  border-color: rgb(13, 161, 13);
}

.SearchButton:hover{
  margin-left: 4px;
  background-color: rgb(72, 138, 72);
  color: white;
  border-collapse: 0.5px;
  border-color: rgb(13, 161, 13);
}
