.HeaderNav {
  background-color: rgb(36, 92, 148);
  display: flex;
  max-width: 1980px;
  max-height: 1050px;
}

.Display {
  display: inline-flex;
  margin-left: 665px;
  margin-top: 7px;
}
.Logout {
  background-color: rgb(36, 92, 148);
  color: white;
  border: none;
  text-decoration: none;
  opacity: 0.8;
}

.Logout:hover {
  background-color: rgb(32, 51, 102);
  padding-bottom: 7px;
  padding-top: 1px;
  cursor: pointer;
  opacity: 1;
}
.Profile {
  background-color: rgb(36, 92, 148);
  margin-right: 13px;
  color: white;
  border: none;
  text-decoration: none;
  opacity: 0.8;
}
.Profile:hover {
  background-color: rgb(32, 51, 102);
  padding-bottom: 7px;
  padding-top: 1px;
  cursor: pointer;
  opacity: 1;
}

.Home {
  background-color: rgb(36, 92, 148);
  color: white;
  border: none;
  text-decoration: none;
  margin-right: 13px;
  opacity: 0.8;
}

.Home:hover {
  background-color: rgb(32, 51, 102);
  padding-bottom: 7px;
  padding-top: 1px;
  cursor: pointer;
  opacity: 1;
}

.Settings {
  background-color: rgb(36, 92, 148);
  color: white;
  border: none;
  text-decoration: none;
  margin-right: 13px;
  opacity: 0.8;
}

.Settings:hover {
  background-color: rgb(32, 51, 102);
  padding-bottom: 7px;
  padding-top: 1px;
  cursor: pointer;
  opacity: 1;
}
