.Header{
    background-color: rgb(36, 92, 148);
  
}

.HomeBtn {
    background-color: rgb(76, 172, 76);
    border-collapse: 0.5px;
    border-color: rgb(13, 161, 13);
    font-size: 14px;
    display: inline-flex;
    margin-left: 20px;
    width: auto;
    color: white;
    display: inline-flex;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .HomeBtn:hover {
    background-color: rgb(72, 138, 72);
    border-collapse: 0.5px;
    border-color: rgb(13, 161, 13);
    font-size: 14px;
    display: inline-flex;
    margin-left: 20px;
    width: auto;
    color: white;
    display: inline-flex;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  