.loginForm {
  right: 4%;
  display: inline-flex;
  position: absolute;
  margin-right: 10%;
}
body {
  background-color: white;
  background-image: url("Facebook_TitlePage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px;
  height: 620px;
}

.submitUser {
  background-color: rgb(76, 172, 76);
  color: white;
  border-collapse: 0.5px;
  border-color: rgb(13, 161, 13);
  font-size: 14px;
  display: inline-flex;
  margin-left: 10px;
}

.Header {
  background-color: rgb(36, 92, 148);
}

.Footer {
  background-color: rgb(36, 92, 148);
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: left;
  display: inline-flex;
  margin-left: 10%;
}

.usernameAndPasswordEnter {
  font-size: 12px;
  font-style: italic;
  color: white;
}

.password{
 margin-left: 10px;
}