.loginForm{
    position: absolute;
    top: 0%;
    right: 2.5%;
    width: 150px;
    padding-top: 0.5%;
    padding-left: 0.5%;
}
body{
    background-color:white;
    background-image: url("Facebook_TitlePage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320px;
    height:620px ;
}



.submitUser{
   background-color:#90aad6;
   color: white;
   border-collapse: 0.5px;
   border-color: #90aad6;
   
}