.Name{
    color: rgb(36, 92, 148);
    margin-left: 1150px;
}
.OnlineUsers{
    color: rgb(36, 92, 148);
}


.displayOnlineUsers{
    color: rgb(36, 92, 148);
    

}

.display{
    display: inline-flex
}