.DisplayForm {
  margin-top:-20px;
  display: flex;
  justify-content:center;
}
.uploadForm {
  width: 460px;
  max-width: 1980px;
  height: 90px;
  max-height: 1050;
  background-color: rgb(238, 238, 238);
  font-size: 14px;
  border: 1;
  border-color: rgb(14, 61, 107);
  vertical-align: top;
  border-block-end-color: black;
  outline: none;
}

.UploadImage {
  display: flex;
  background-color: rgb(36, 92, 148);
  color: white;
  border-collapse: 0.5px;
  border-color: rgb(17, 79, 141);
  width: 468px;
  margin-top: 0.3px;
}

.UploadImage:hover {
  background-color: rgb(33, 78, 122);
  color: white;
  border-collapse: 0.5px;
  border-color: rgb(14, 61, 107);
  font-size: 14px;
  cursor: pointer;
}

.UploadFormBtn {
  display: none;
  background-color: rgb(76, 172, 76);
  color: white;
  font-size: 14px;
  border-collapse: 0.5px;
  border-color: rgb(13, 161, 13);
}

.UploadFormBtn:hover {
  background-color: rgb(72, 138, 72);
  color: white;
  border-collapse: 0.5px;
  border-color: rgb(13, 161, 13);
  font-size: 14px;
  cursor: pointer;
  display: none;
  
}

.UploadImage2{
  display: none;
}

.DisplayValue{
  display: flex;
  justify-content: center;
  margin-top: -70px;
}
